/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #F6F8F9;
}

.button{
    padding: 5px 10px;
    background-color: #47ADF1;
    color: white;
    border-radius: 5px;
    border-color: 1px solid #47ADF1;
}
.button.section{
    background-color: white;
    color: #E3E6E8;
    border-color: #E3E6E8;
}
/* HEADER */
header{
    background-color: white;
}

.logo{

    vertical-align: middle;
}

header h1{
    display: inline;
}

/* MAIN */

.container{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20px;

}

.nav{
    background-color: white;
    padding: 30px 0px 10px 40px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.main{
    padding-left: 40px;
    background-color: white;
    margin-left: 30px;
    color: #686B73 ;
    padding-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

ul{
    list-style: none;
}

div li{
    padding-top: 15px;
}

.check{
    border-radius: 50%;
    border: 1px solid #67C1AB;
    padding:0 2px
}

.check::after{
    content: "\2713";
    color: #67C1AB;
}

.cross{
    border-radius: 50%;
    border: 1px solid #F1938E;
    padding:0 2px
}

.cross::after{
    content: "\2717";
    color: #F1938E;
}

.etiquette{
    font-size: 12px;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
}

.editorial{
    background-color: #45ABEA;
}

.q1-goals{
    background-color:#9C72E4 ;
}

.recruiting{
    background-color:#64C0A9 ;
}

.mobile{
    background-color:#F29E33 ;
}

.website{
    background-color:#D863A1 ;
}

.sales{
    background-color:#B0C926 ;
}